<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Exercice Tracker</title>
  </head>

  <body>
    <main>
      <h2>API Project: File Metadata Microservcie</h2>

      <h3>Usage:</h3>

      <p>Please Upload a File...</p>

      <div class="form__container">
        <form action="/api/fileanalyse" method="post" enctype="multipart/form-data">
          <input type="file" required name="upfile" />
          <button type="submit">Upload</button>
        </form>
      </div>
    </main>

    <footer>
      <p>
        Made with 💙 By
        <a href="https://github.com/DiogoJorge1401"> Diogo Jorge </a>
      </p>
    </footer>
  </body>
</html>
